name: Build discordcf

on:
  push:
    branches:
      - main
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: NPM Install
        run: npm install

      - name: Build discordcf
        id: build
        run: npm run build
